@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-palier-navy text-palier-ivory font-body;
    -webkit-font-smoothing: antialiased;
  }

  * {
    box-sizing: border-box;
  }
}

.scrollbar-none {
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
